* {
    margin: 0;
    padding: 0;
}

$kieuchu: 'Oswald',
sans-serif;
$kieuchumong: 'segoe ui light';
$kieuchuclient: 'Raleway',
sans-serif;
$kieuchucontent: 'Roboto',
sans-serif;
$sizechuto: 18px;

body {
    font-family: $kieuchu;
    letter-spacing: 0.5px;
}

.khachhang {
    position: relative;
    // background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    background: linear-gradient(to right, #8360c3, #2ebf91);
    height: 100vh;
    overflow-x: hidden;

    .thongtinkhachhang {
        position: absolute;
        width: 99%;
        background-color: #FFFFFF;
        font-family: $kieuchuclient;
        margin: 10px 0px 0px 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;

        .labelclient {
            width: 100%;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 50px;
            background-color: gray;
            margin: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: #FFFFFF;
            font-family: $kieuchuclient;
        }

        .clientinfo {
            width: 100%;
            margin: 0;
            font-size: $sizechuto;
            font-family: $kieuchuclient;

            tbody {
                tr {
                    td.lead {
                        p {
                            color: #007BFF;
                            cursor: pointer;
                        }
                    }
                    .row2 {
                        position: relative;
                        left: 50%;
                        transform: translateX(-25%);
                        .demnguoc {
                            display: flex;
                            p {
                                border: 0px solid red;
                                margin-right: 10px;
                                width: 50px;
                                height: 50px;
                                text-align: center;
                                vertical-align: middle;
                                background-color: yellow;
                                border-radius: 5px;
                                font-size: 28px;
                                margin-bottom: 0;
                            }
                            small {
                                color: #000;
                                font-size: 30px;
                                right: 5px;
                                position: relative;
                            }
                        }
                    }
                    .row3{
                        position: relative;
                        left: 50%;
                        transform: translateX(-25%);
                        span{
                            margin-right: 25px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}
